<% require 'uri' %>
<% javascript_include_tag 'jquery.mThumbnailScroller.js' %>
<% stylesheet_link_tag 'jquery.mThumbnailScroller.css' %>
<div class="grid">
  <% [0,1].each do |i| %>
	<div class="col">
  <% @anime.each_slice(2) do |a| %>
    <% begin %>
		<div class="box" style="background-image:url('/anime/<%= a[i].name %>/box.jpg')">
			<p class="title"><%= a[i].name %></p>
		</div>
    <div class="thumbrow mThumbnailScroller" id="<%= a[i].name.delete(' ') %>ThumbRow">
      <ul>
      <% a[i].aniepisodes.each do |e| %>
        <li><a href='<%= "vlc:\"http://ohayo.vega.local"+ URI.escape(e.file) + "\""%>'>
          <%= image_tag('/anime/' + a[i].name + '/s' + e.season.to_s.rjust(2,'0') + 'e' + e.episode.to_s.rjust(2,'0') + '.jpg',
          :class => "thumbImg" + (e.watched ? '' : ' unseen'),
          :data => {name: a[i].name, season: e.season, episode: e.episode}) %></a>
        </li>
      <% end %>
      </ul>
    </div>
    <script>
      (function($){
          $("<%= a[i].name.delete(' ') %>ThumbRow").mThumbnailScroller({
            axis:"x",
            type:"click-90",
            theme:"buttons-out"
          });
        })(jQuery);
    </script>
    <% rescue %>
    <% end %>
    <% end %>
  </div>
  <% end %>
</div>
